################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestClient/bin/Debug
/TestClient/obj
/.vs
/bin/Debug
/obj
