################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestClient/bin/Debug
/TestClient/obj
/.vs
/bin/Debug
/obj
/HandlerTests/bin/Debug
/HandlerTests/obj/Debug
/Messages/bin/Debug
/Messages/google/protobuf
/Messages/obj/Debug
/packages
/Messages/google
/WPFClient/bin/Debug
/WPFClient/obj
